<PortfolioWeb.DevLayoutComponent.dev_layout
  current_page={:dev_sent_emails}
  current_user={@current_user}
>
  <div class="bg-white">
    <.alert
      color="info"
      with_icon
      label={gettext("To see emails here, you must peform an action e.g change email")}
    />
    <iframe class="w-full h-screen px-12 pt-10 overflow-auto" src="/dev/mailbox"></iframe>
  </div>
</PortfolioWeb.DevLayoutComponent.dev_layout>
