<h1>Change your email</h1>

<p>Touch the button below to change your email.</p>

<EmailComponents.button_centered to={@url}>
  Change email
</EmailComponents.button_centered>

<EmailComponents.small_text>
  If you didn't request this change, please ignore this.
</EmailComponents.small_text>
