<h1>Reset password</h1>

<p>Touch the button below to reset your password.</p>

<EmailComponents.button_centered to={@url}>
  Reset password
</EmailComponents.button_centered>

<EmailComponents.small_text>
  If you didn't request this change, please ignore this.
</EmailComponents.small_text>
